body {
  padding : 5px ;
}

/*Defining the chart areas*/
#scatterControls{
  height: 75px;
  /*border: 1px dotted red;*/
}
#scatterChart{
  height: 400px;
  border: 1px dotted blue;
}
#scatterText{
  height:475px;
  /*border: 1px dotted green;*/
}

svg{
  border: 1px dotted red;
}


.regLine {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
}


/*SLIDER CSS */
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
